/*
@import "../bootstrap/scss/root";
@import "../bootstrap/scss/reboot";
@import "../bootstrap/scss/type";
@import "../bootstrap/scss/images";
@import "../bootstrap/scss/containers";

@import "../bootstrap/scss/tables";
@import "../bootstrap/scss/forms";
@import "../bootstrap/scss/buttons";
@import "../bootstrap/scss/transitions";
@import "../bootstrap/scss/button-group";
@import "../bootstrap/scss/nav";
@import "../bootstrap/scss/navbar";
@import "../bootstrap/scss/breadcrumb";
@import "../bootstrap/scss/pagination";
@import "../bootstrap/scss/badge";
@import "../bootstrap/scss/alert";
@import "../bootstrap/scss/close";
@import "../bootstrap/scss/modal";
@import "../bootstrap/scss/offcanvas";

@import "../bootstrap/scss/helpers";
@import "../bootstrap/scss/utilities/api";
*/
body {
  overflow: hidden scroll;
}

::selection {
  background-color: rgba(57, 199, 255, 0.2);
  color: inherit;
}

-moz-::selection {
  background-color: rgba(57, 199, 255, 0.2);
  color: inherit;
}

mark, .mark {
  color: inherit;
}

.alert hr {
  color: currentColor;
  opacity: 0.25;
}

.btn-primary {
  color: #000;
  background-color: #88ddff;
  border-color: #88ddff;
}
.btn-primary:hover {
  color: #000;
  background-color: #9ae2ff;
  border-color: #94e0ff;
}
.btn-check:focus + .btn-primary, .btn-primary:focus {
  color: #000;
  background-color: #9ae2ff;
  border-color: #94e0ff;
  box-shadow: 0 0 0 0.25rem rgba(116, 188, 217, 0.5);
}
.btn-check:checked + .btn-primary, .btn-check:active + .btn-primary, .btn-primary:active, .btn-primary.active, .show > .btn-primary.dropdown-toggle {
  color: #000;
  background-color: #a0e4ff;
  border-color: #94e0ff;
}
.btn-check:checked + .btn-primary:focus, .btn-check:active + .btn-primary:focus, .btn-primary:active:focus, .btn-primary.active:focus, .show > .btn-primary.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.25rem rgba(116, 188, 217, 0.5);
}
.btn-primary:disabled, .btn-primary.disabled {
  color: #000;
  background-color: #88ddff;
  border-color: #88ddff;
}

.btn-secondary {
  color: #000;
  background-color: #ffb6fb;
  border-color: #ffb6fb;
}
.btn-secondary:hover {
  color: #000;
  background-color: #ffc1fc;
  border-color: #ffbdfb;
}
.btn-check:focus + .btn-secondary, .btn-secondary:focus {
  color: #000;
  background-color: #ffc1fc;
  border-color: #ffbdfb;
  box-shadow: 0 0 0 0.25rem rgba(217, 155, 213, 0.5);
}
.btn-check:checked + .btn-secondary, .btn-check:active + .btn-secondary, .btn-secondary:active, .btn-secondary.active, .show > .btn-secondary.dropdown-toggle {
  color: #000;
  background-color: #ffc5fc;
  border-color: #ffbdfb;
}
.btn-check:checked + .btn-secondary:focus, .btn-check:active + .btn-secondary:focus, .btn-secondary:active:focus, .btn-secondary.active:focus, .show > .btn-secondary.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.25rem rgba(217, 155, 213, 0.5);
}
.btn-secondary:disabled, .btn-secondary.disabled {
  color: #000;
  background-color: #ffb6fb;
  border-color: #ffb6fb;
}

.btn-success {
  color: #000;
  background-color: #71d095;
  border-color: #71d095;
}
.btn-success:hover {
  color: #000;
  background-color: #86d7a5;
  border-color: #7fd5a0;
}
.btn-check:focus + .btn-success, .btn-success:focus {
  color: #000;
  background-color: #86d7a5;
  border-color: #7fd5a0;
  box-shadow: 0 0 0 0.25rem rgba(96, 177, 127, 0.5);
}
.btn-check:checked + .btn-success, .btn-check:active + .btn-success, .btn-success:active, .btn-success.active, .show > .btn-success.dropdown-toggle {
  color: #000;
  background-color: #8dd9aa;
  border-color: #7fd5a0;
}
.btn-check:checked + .btn-success:focus, .btn-check:active + .btn-success:focus, .btn-success:active:focus, .btn-success.active:focus, .show > .btn-success.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.25rem rgba(96, 177, 127, 0.5);
}
.btn-success:disabled, .btn-success.disabled {
  color: #000;
  background-color: #71d095;
  border-color: #71d095;
}

.btn-danger {
  color: #000;
  background-color: #ff9d9d;
  border-color: #ff9d9d;
}
.btn-danger:hover {
  color: #000;
  background-color: #ffacac;
  border-color: #ffa7a7;
}
.btn-check:focus + .btn-danger, .btn-danger:focus {
  color: #000;
  background-color: #ffacac;
  border-color: #ffa7a7;
  box-shadow: 0 0 0 0.25rem rgba(217, 133, 133, 0.5);
}
.btn-check:checked + .btn-danger, .btn-check:active + .btn-danger, .btn-danger:active, .btn-danger.active, .show > .btn-danger.dropdown-toggle {
  color: #000;
  background-color: #ffb1b1;
  border-color: #ffa7a7;
}
.btn-check:checked + .btn-danger:focus, .btn-check:active + .btn-danger:focus, .btn-danger:active:focus, .btn-danger.active:focus, .show > .btn-danger.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.25rem rgba(217, 133, 133, 0.5);
}
.btn-danger:disabled, .btn-danger.disabled {
  color: #000;
  background-color: #ff9d9d;
  border-color: #ff9d9d;
}

.btn-warning {
  color: #000;
  background-color: #ffd966;
  border-color: #ffd966;
}
.btn-warning:hover {
  color: #000;
  background-color: #ffdf7d;
  border-color: #ffdd75;
}
.btn-check:focus + .btn-warning, .btn-warning:focus {
  color: #000;
  background-color: #ffdf7d;
  border-color: #ffdd75;
  box-shadow: 0 0 0 0.25rem rgba(217, 184, 87, 0.5);
}
.btn-check:checked + .btn-warning, .btn-check:active + .btn-warning, .btn-warning:active, .btn-warning.active, .show > .btn-warning.dropdown-toggle {
  color: #000;
  background-color: #ffe185;
  border-color: #ffdd75;
}
.btn-check:checked + .btn-warning:focus, .btn-check:active + .btn-warning:focus, .btn-warning:active:focus, .btn-warning.active:focus, .show > .btn-warning.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.25rem rgba(217, 184, 87, 0.5);
}
.btn-warning:disabled, .btn-warning.disabled {
  color: #000;
  background-color: #ffd966;
  border-color: #ffd966;
}

.btn-info {
  color: #000;
  background-color: #c682fe;
  border-color: #c682fe;
}
.btn-info:hover {
  color: #000;
  background-color: #cf95fe;
  border-color: #cc8ffe;
}
.btn-check:focus + .btn-info, .btn-info:focus {
  color: #000;
  background-color: #cf95fe;
  border-color: #cc8ffe;
  box-shadow: 0 0 0 0.25rem rgba(168, 111, 216, 0.5);
}
.btn-check:checked + .btn-info, .btn-check:active + .btn-info, .btn-info:active, .btn-info.active, .show > .btn-info.dropdown-toggle {
  color: #000;
  background-color: #d19bfe;
  border-color: #cc8ffe;
}
.btn-check:checked + .btn-info:focus, .btn-check:active + .btn-info:focus, .btn-info:active:focus, .btn-info.active:focus, .show > .btn-info.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.25rem rgba(168, 111, 216, 0.5);
}
.btn-info:disabled, .btn-info.disabled {
  color: #000;
  background-color: #c682fe;
  border-color: #c682fe;
}

.btn-light {
  color: #000;
  background-color: #f7f7f7;
  border-color: #f7f7f7;
}
.btn-light:hover {
  color: #000;
  background-color: #d2d2d2;
  border-color: #c6c6c6;
}
.btn-check:focus + .btn-light, .btn-light:focus {
  color: #000;
  background-color: #d2d2d2;
  border-color: #c6c6c6;
  box-shadow: 0 0 0 0.25rem rgba(210, 210, 210, 0.5);
}
.btn-check:checked + .btn-light, .btn-check:active + .btn-light, .btn-light:active, .btn-light.active, .show > .btn-light.dropdown-toggle {
  color: #000;
  background-color: #c6c6c6;
  border-color: #b9b9b9;
}
.btn-check:checked + .btn-light:focus, .btn-check:active + .btn-light:focus, .btn-light:active:focus, .btn-light.active:focus, .show > .btn-light.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.25rem rgba(210, 210, 210, 0.5);
}
.btn-light:disabled, .btn-light.disabled {
  color: #000;
  background-color: #f7f7f7;
  border-color: #f7f7f7;
}

.btn-dark {
  color: #fff;
  background-color: #7f7f7f;
  border-color: #7f7f7f;
}
.btn-dark:hover {
  color: #fff;
  background-color: #929292;
  border-color: #8c8c8c;
}
.btn-check:focus + .btn-dark, .btn-dark:focus {
  color: #fff;
  background-color: #929292;
  border-color: #8c8c8c;
  box-shadow: 0 0 0 0.25rem rgba(146, 146, 146, 0.5);
}
.btn-check:checked + .btn-dark, .btn-check:active + .btn-dark, .btn-dark:active, .btn-dark.active, .show > .btn-dark.dropdown-toggle {
  color: #fff;
  background-color: #999999;
  border-color: #8c8c8c;
}
.btn-check:checked + .btn-dark:focus, .btn-check:active + .btn-dark:focus, .btn-dark:active:focus, .btn-dark.active:focus, .show > .btn-dark.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.25rem rgba(146, 146, 146, 0.5);
}
.btn-dark:disabled, .btn-dark.disabled {
  color: #fff;
  background-color: #7f7f7f;
  border-color: #7f7f7f;
}

.btn-outline-primary {
  color: #39c7ff;
  border-color: #39c7ff;
}
.btn-outline-primary:hover {
  color: #000;
}
.btn-check:focus + .btn-outline-primary, .btn-outline-primary:focus {
  box-shadow: 0 0 0 0.25rem rgba(57, 199, 255, 0.5);
}
.btn-check:checked + .btn-outline-primary, .btn-check:active + .btn-outline-primary, .btn-outline-primary:active, .btn-outline-primary.active, .btn-outline-primary.dropdown-toggle.show {
  color: #000;
}
.btn-check:checked + .btn-outline-primary:focus, .btn-check:active + .btn-outline-primary:focus, .btn-outline-primary:active:focus, .btn-outline-primary.active:focus, .btn-outline-primary.dropdown-toggle.show:focus {
  box-shadow: 0 0 0 0.25rem rgba(57, 199, 255, 0.5);
}
.btn-outline-primary:disabled, .btn-outline-primary.disabled {
  color: #39c7ff;
  background-color: transparent;
}

.btn-outline-secondary {
  color: #ff86f9;
  border-color: #ff86f9;
}
.btn-outline-secondary:hover {
  color: #000;
}
.btn-check:focus + .btn-outline-secondary, .btn-outline-secondary:focus {
  box-shadow: 0 0 0 0.25rem rgba(255, 134, 249, 0.5);
}
.btn-check:checked + .btn-outline-secondary, .btn-check:active + .btn-outline-secondary, .btn-outline-secondary:active, .btn-outline-secondary.active, .btn-outline-secondary.dropdown-toggle.show {
  color: #000;
}
.btn-check:checked + .btn-outline-secondary:focus, .btn-check:active + .btn-outline-secondary:focus, .btn-outline-secondary:active:focus, .btn-outline-secondary.active:focus, .btn-outline-secondary.dropdown-toggle.show:focus {
  box-shadow: 0 0 0 0.25rem rgba(255, 134, 249, 0.5);
}
.btn-outline-secondary:disabled, .btn-outline-secondary.disabled {
  color: #ff86f9;
  background-color: transparent;
}

.btn-outline-success {
  color: #12b14f;
  border-color: #12b14f;
}
.btn-outline-success:hover {
  color: #000;
}
.btn-check:focus + .btn-outline-success, .btn-outline-success:focus {
  box-shadow: 0 0 0 0.25rem rgba(18, 177, 79, 0.5);
}
.btn-check:checked + .btn-outline-success, .btn-check:active + .btn-outline-success, .btn-outline-success:active, .btn-outline-success.active, .btn-outline-success.dropdown-toggle.show {
  color: #000;
}
.btn-check:checked + .btn-outline-success:focus, .btn-check:active + .btn-outline-success:focus, .btn-outline-success:active:focus, .btn-outline-success.active:focus, .btn-outline-success.dropdown-toggle.show:focus {
  box-shadow: 0 0 0 0.25rem rgba(18, 177, 79, 0.5);
}
.btn-outline-success:disabled, .btn-outline-success.disabled {
  color: #12b14f;
  background-color: transparent;
}

.btn-outline-danger {
  color: #ff5b5b;
  border-color: #ff5b5b;
}
.btn-outline-danger:hover {
  color: #000;
}
.btn-check:focus + .btn-outline-danger, .btn-outline-danger:focus {
  box-shadow: 0 0 0 0.25rem rgba(255, 91, 91, 0.5);
}
.btn-check:checked + .btn-outline-danger, .btn-check:active + .btn-outline-danger, .btn-outline-danger:active, .btn-outline-danger.active, .btn-outline-danger.dropdown-toggle.show {
  color: #000;
}
.btn-check:checked + .btn-outline-danger:focus, .btn-check:active + .btn-outline-danger:focus, .btn-outline-danger:active:focus, .btn-outline-danger.active:focus, .btn-outline-danger.dropdown-toggle.show:focus {
  box-shadow: 0 0 0 0.25rem rgba(255, 91, 91, 0.5);
}
.btn-outline-danger:disabled, .btn-outline-danger.disabled {
  color: #ff5b5b;
  background-color: transparent;
}

.btn-outline-warning {
  color: #ffc000;
  border-color: #ffc000;
}
.btn-outline-warning:hover {
  color: #000;
}
.btn-check:focus + .btn-outline-warning, .btn-outline-warning:focus {
  box-shadow: 0 0 0 0.25rem rgba(255, 192, 0, 0.5);
}
.btn-check:checked + .btn-outline-warning, .btn-check:active + .btn-outline-warning, .btn-outline-warning:active, .btn-outline-warning.active, .btn-outline-warning.dropdown-toggle.show {
  color: #000;
}
.btn-check:checked + .btn-outline-warning:focus, .btn-check:active + .btn-outline-warning:focus, .btn-outline-warning:active:focus, .btn-outline-warning.active:focus, .btn-outline-warning.dropdown-toggle.show:focus {
  box-shadow: 0 0 0 0.25rem rgba(255, 192, 0, 0.5);
}
.btn-outline-warning:disabled, .btn-outline-warning.disabled {
  color: #ffc000;
  background-color: transparent;
}

.btn-outline-info {
  color: #a02ffd;
  border-color: #a02ffd;
}
.btn-outline-info:hover {
  color: #fff;
}
.btn-check:focus + .btn-outline-info, .btn-outline-info:focus {
  box-shadow: 0 0 0 0.25rem rgba(160, 47, 253, 0.5);
}
.btn-check:checked + .btn-outline-info, .btn-check:active + .btn-outline-info, .btn-outline-info:active, .btn-outline-info.active, .btn-outline-info.dropdown-toggle.show {
  color: #000;
}
.btn-check:checked + .btn-outline-info:focus, .btn-check:active + .btn-outline-info:focus, .btn-outline-info:active:focus, .btn-outline-info.active:focus, .btn-outline-info.dropdown-toggle.show:focus {
  box-shadow: 0 0 0 0.25rem rgba(160, 47, 253, 0.5);
}
.btn-outline-info:disabled, .btn-outline-info.disabled {
  color: #a02ffd;
  background-color: transparent;
}

.btn-outline-light {
  color: #f1f1f1;
  border-color: #f1f1f1;
}
.btn-outline-light:hover {
  color: #000;
}
.btn-check:focus + .btn-outline-light, .btn-outline-light:focus {
  box-shadow: 0 0 0 0.25rem rgba(241, 241, 241, 0.5);
}
.btn-check:checked + .btn-outline-light, .btn-check:active + .btn-outline-light, .btn-outline-light:active, .btn-outline-light.active, .btn-outline-light.dropdown-toggle.show {
  color: #000;
}
.btn-check:checked + .btn-outline-light:focus, .btn-check:active + .btn-outline-light:focus, .btn-outline-light:active:focus, .btn-outline-light.active:focus, .btn-outline-light.dropdown-toggle.show:focus {
  box-shadow: 0 0 0 0.25rem rgba(241, 241, 241, 0.5);
}
.btn-outline-light:disabled, .btn-outline-light.disabled {
  color: #f1f1f1;
  background-color: transparent;
}

.btn-outline-dark {
  color: #2a2a2a;
  border-color: #2a2a2a;
}
.btn-outline-dark:hover {
  color: #fff;
}
.btn-check:focus + .btn-outline-dark, .btn-outline-dark:focus {
  box-shadow: 0 0 0 0.25rem rgba(42, 42, 42, 0.5);
}
.btn-check:checked + .btn-outline-dark, .btn-check:active + .btn-outline-dark, .btn-outline-dark:active, .btn-outline-dark.active, .btn-outline-dark.dropdown-toggle.show {
  color: #fff;
}
.btn-check:checked + .btn-outline-dark:focus, .btn-check:active + .btn-outline-dark:focus, .btn-outline-dark:active:focus, .btn-outline-dark.active:focus, .btn-outline-dark.dropdown-toggle.show:focus {
  box-shadow: 0 0 0 0.25rem rgba(42, 42, 42, 0.5);
}
.btn-outline-dark:disabled, .btn-outline-dark.disabled {
  color: #2a2a2a;
  background-color: transparent;
}

.card.bg-primary {
  border-color: #39c7ff !important;
  background-color: #d7f4ff !important;
}
.card.bg-primary .card-header,
.card.bg-primary .card-footer {
  background-color: #b0e9ff !important;
}
.card.bg-primary .card-header,
.card.bg-primary .card-footer,
.card.bg-primary .list-group,
.card.bg-primary .list-group-item {
  border-color: #39c7ff !important;
}
.card.bg-primary .list-group-item {
  background-color: #d7f4ff !important;
}

.card.border-primary .card-header,
.card.border-primary .card-footer {
  background-color: #b0e9ff !important;
}
.card.border-primary .card-header,
.card.border-primary .card-footer,
.card.border-primary .list-group-item {
  border-color: #39c7ff !important;
}

.card.bg-secondary {
  border-color: #ff86f9 !important;
  background-color: #ffe7fe !important;
}
.card.bg-secondary .card-header,
.card.bg-secondary .card-footer {
  background-color: #ffcffd !important;
}
.card.bg-secondary .card-header,
.card.bg-secondary .card-footer,
.card.bg-secondary .list-group,
.card.bg-secondary .list-group-item {
  border-color: #ff86f9 !important;
}
.card.bg-secondary .list-group-item {
  background-color: #ffe7fe !important;
}

.card.border-secondary .card-header,
.card.border-secondary .card-footer {
  background-color: #ffcffd !important;
}
.card.border-secondary .card-header,
.card.border-secondary .card-footer,
.card.border-secondary .list-group-item {
  border-color: #ff86f9 !important;
}

.card.bg-success {
  border-color: #12b14f !important;
  background-color: #d0efdc !important;
}
.card.bg-success .card-header,
.card.bg-success .card-footer {
  background-color: #a0e0b9 !important;
}
.card.bg-success .card-header,
.card.bg-success .card-footer,
.card.bg-success .list-group,
.card.bg-success .list-group-item {
  border-color: #12b14f !important;
}
.card.bg-success .list-group-item {
  background-color: #d0efdc !important;
}

.card.border-success .card-header,
.card.border-success .card-footer {
  background-color: #a0e0b9 !important;
}
.card.border-success .card-header,
.card.border-success .card-footer,
.card.border-success .list-group-item {
  border-color: #12b14f !important;
}

.card.bg-danger {
  border-color: #ff5b5b !important;
  background-color: #ffdede !important;
}
.card.bg-danger .card-header,
.card.bg-danger .card-footer {
  background-color: #ffbdbd !important;
}
.card.bg-danger .card-header,
.card.bg-danger .card-footer,
.card.bg-danger .list-group,
.card.bg-danger .list-group-item {
  border-color: #ff5b5b !important;
}
.card.bg-danger .list-group-item {
  background-color: #ffdede !important;
}

.card.border-danger .card-header,
.card.border-danger .card-footer {
  background-color: #ffbdbd !important;
}
.card.border-danger .card-header,
.card.border-danger .card-footer,
.card.border-danger .list-group-item {
  border-color: #ff5b5b !important;
}

.card.bg-warning {
  border-color: #ffc000 !important;
  background-color: #fff2cc !important;
}
.card.bg-warning .card-header,
.card.bg-warning .card-footer {
  background-color: #ffe699 !important;
}
.card.bg-warning .card-header,
.card.bg-warning .card-footer,
.card.bg-warning .list-group,
.card.bg-warning .list-group-item {
  border-color: #ffc000 !important;
}
.card.bg-warning .list-group-item {
  background-color: #fff2cc !important;
}

.card.border-warning .card-header,
.card.border-warning .card-footer {
  background-color: #ffe699 !important;
}
.card.border-warning .card-header,
.card.border-warning .card-footer,
.card.border-warning .list-group-item {
  border-color: #ffc000 !important;
}

.card.bg-info {
  border-color: #a02ffd !important;
  background-color: #ecd5ff !important;
}
.card.bg-info .card-header,
.card.bg-info .card-footer {
  background-color: #d9acfe !important;
}
.card.bg-info .card-header,
.card.bg-info .card-footer,
.card.bg-info .list-group,
.card.bg-info .list-group-item {
  border-color: #a02ffd !important;
}
.card.bg-info .list-group-item {
  background-color: #ecd5ff !important;
}

.card.border-info .card-header,
.card.border-info .card-footer {
  background-color: #d9acfe !important;
}
.card.border-info .card-header,
.card.border-info .card-footer,
.card.border-info .list-group-item {
  border-color: #a02ffd !important;
}

.card.bg-light {
  border-color: #f1f1f1 !important;
  background-color: #fcfcfc !important;
}
.card.bg-light .card-header,
.card.bg-light .card-footer {
  background-color: #f9f9f9 !important;
}
.card.bg-light .card-header,
.card.bg-light .card-footer,
.card.bg-light .list-group,
.card.bg-light .list-group-item {
  border-color: #f1f1f1 !important;
}
.card.bg-light .list-group-item {
  background-color: #fcfcfc !important;
}

.card.border-light .card-header,
.card.border-light .card-footer {
  background-color: #f9f9f9 !important;
}
.card.border-light .card-header,
.card.border-light .card-footer,
.card.border-light .list-group-item {
  border-color: #f1f1f1 !important;
}

.card.bg-dark {
  border-color: #2a2a2a !important;
  background-color: #d4d4d4 !important;
}
.card.bg-dark .card-header,
.card.bg-dark .card-footer {
  background-color: #aaaaaa !important;
}
.card.bg-dark .card-header,
.card.bg-dark .card-footer,
.card.bg-dark .list-group,
.card.bg-dark .list-group-item {
  border-color: #2a2a2a !important;
}
.card.bg-dark .list-group-item {
  background-color: #d4d4d4 !important;
}

.card.border-dark .card-header,
.card.border-dark .card-footer {
  background-color: #aaaaaa !important;
}
.card.border-dark .card-header,
.card.border-dark .card-footer,
.card.border-dark .list-group-item {
  border-color: #2a2a2a !important;
}

.dropdown-divider {
  opacity: 1;
}

.list-group-item-primary {
  color: #227799;
  background-color: #d7f4ff;
}
.list-group-item-primary.list-group-item-action:hover, .list-group-item-primary.list-group-item-action:focus {
  color: #227799;
  background-color: #c2dce6;
}
.list-group-item-primary.list-group-item-action.active {
  color: #fff;
  background-color: #227799;
  border-color: #227799;
}

.list-group-item-secondary {
  color: #995095;
  background-color: #ffe7fe;
}
.list-group-item-secondary.list-group-item-action:hover, .list-group-item-secondary.list-group-item-action:focus {
  color: #995095;
  background-color: #e6d0e5;
}
.list-group-item-secondary.list-group-item-action.active {
  color: #fff;
  background-color: #995095;
  border-color: #995095;
}

.list-group-item-success {
  color: #0b6a2f;
  background-color: #d0efdc;
}
.list-group-item-success.list-group-item-action:hover, .list-group-item-success.list-group-item-action:focus {
  color: #0b6a2f;
  background-color: #bbd7c6;
}
.list-group-item-success.list-group-item-action.active {
  color: #fff;
  background-color: #0b6a2f;
  border-color: #0b6a2f;
}

.list-group-item-danger {
  color: #993737;
  background-color: #ffdede;
}
.list-group-item-danger.list-group-item-action:hover, .list-group-item-danger.list-group-item-action:focus {
  color: #993737;
  background-color: #e6c8c8;
}
.list-group-item-danger.list-group-item-action.active {
  color: #fff;
  background-color: #993737;
  border-color: #993737;
}

.list-group-item-warning {
  color: #997300;
  background-color: #fff2cc;
}
.list-group-item-warning.list-group-item-action:hover, .list-group-item-warning.list-group-item-action:focus {
  color: #997300;
  background-color: #e6dab8;
}
.list-group-item-warning.list-group-item-action.active {
  color: #fff;
  background-color: #997300;
  border-color: #997300;
}

.list-group-item-info {
  color: #601c98;
  background-color: #ecd5ff;
}
.list-group-item-info.list-group-item-action:hover, .list-group-item-info.list-group-item-action:focus {
  color: #601c98;
  background-color: #d4c0e6;
}
.list-group-item-info.list-group-item-action.active {
  color: #fff;
  background-color: #601c98;
  border-color: #601c98;
}

.list-group-item-light {
  color: #000;
  background-color: #fcfcfc;
}
.list-group-item-light.list-group-item-action:hover, .list-group-item-light.list-group-item-action:focus {
  color: #000;
  background-color: #e3e3e3;
}
.list-group-item-light.list-group-item-action.active {
  color: #fff;
  background-color: #000;
  border-color: #000;
}

.list-group-item-dark {
  color: #000;
  background-color: #d4d4d4;
}
.list-group-item-dark.list-group-item-action:hover, .list-group-item-dark.list-group-item-action:focus {
  color: #000;
  background-color: #bfbfbf;
}
.list-group-item-dark.list-group-item-action.active {
  color: #fff;
  background-color: #000;
  border-color: #000;
}

.navbar.bg-light {
  background-color: #d7f4ff !important;
}

.table.table-primary > :not(:first-child) {
  border-top-color: currentColor;
}

.table.table-secondary > :not(:first-child) {
  border-top-color: currentColor;
}

.table.table-success > :not(:first-child) {
  border-top-color: currentColor;
}

.table.table-danger > :not(:first-child) {
  border-top-color: currentColor;
}

.table.table-warning > :not(:first-child) {
  border-top-color: currentColor;
}

.table.table-info > :not(:first-child) {
  border-top-color: currentColor;
}

.table.table-light > :not(:first-child) {
  border-top-color: currentColor;
}

.table.table-dark > :not(:first-child) {
  border-top-color: currentColor;
}

@font-face {
  font-family: "Short Stack Ext";
  font-weight: normal;
  font-style: normal;
  src: url("fonts/shortstack-ext/shortstack-ext.ttf") format("truetype");
}
@font-face {
  font-family: "Short Stack Ext";
  font-weight: normal;
  font-style: italic;
  src: url("fonts/shortstack-ext/shortstack-ext-i.ttf") format("truetype");
}
@font-face {
  font-family: "Short Stack Ext";
  font-weight: bold;
  font-style: normal;
  src: url("fonts/shortstack-ext/shortstack-ext-b.ttf") format("truetype");
}
@font-face {
  font-family: "Short Stack Ext";
  font-weight: bold;
  font-style: italic;
  src: url("fonts/shortstack-ext/shortstack-ext-bi.ttf") format("truetype");
}
.body section {
  margin-top: 2em;
}
.body section > :not(:last-child) {
  margin-bottom: 1rem;
}
.body section > :last-child {
  margin-bottom: 0;
}

.body > section {
  margin-top: 0;
}

.body li > :not(:last-child) {
  margin-bottom: 0.5rem;
}
.body li > :last-child {
  margin-bottom: 0;
}

.body dd > :not(:last-child) {
  margin-bottom: 0.5rem;
}
.body dd > :last-child {
  margin-bottom: 0;
}

.body th > :not(:last-child) {
  margin-bottom: 0.5rem;
}
.body th > :last-child {
  margin-bottom: 0;
}

.body td > :not(:last-child) {
  margin-bottom: 0.5rem;
}
.body td > :last-child {
  margin-bottom: 0;
}

.body blockquote > :not(:last-child) {
  margin-bottom: 0.5rem;
}
.body blockquote > :last-child {
  margin-bottom: 0;
}

.body figcaption > .legend > :not(:last-child) {
  margin-bottom: 0.5rem;
}
.body figcaption > .legend > :last-child {
  margin-bottom: 0;
}

.body blockquote > div > :not(:last-child) {
  margin-bottom: 0.5rem;
}
.body blockquote > div > :last-child {
  margin-bottom: 0;
}

.body .admonition > :not(:last-child) {
  margin-bottom: 0.5rem;
}
.body .admonition > :last-child {
  margin-bottom: 0;
}

.body .footnote > :not(:last-child) {
  margin-bottom: 0.5rem;
}
.body .footnote > :last-child {
  margin-bottom: 0;
}

.body table.docutils {
  display: table;
  width: 100%;
  vertical-align: top;
  border-color: #88ddff;
}
.body table.docutils > :not(caption) > * > * {
  padding: 0.5rem 0.5rem;
  background-color: var(--bs-table-bg);
  border-bottom-width: 1px;
  box-shadow: inset 0 0 0 9999px var(--bs-table-accent-bg);
}
.body table.docutils > tbody {
  vertical-align: inherit;
}
.body table.docutils > thead {
  vertical-align: bottom;
}
.body table.docutils > :not(:first-child) {
  border-top: 2px solid #39c7ff;
}

.admonition-title, .rubric {
  font-family: "Modern Love", "Short Stack Ext", "Short Stack", system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-weight: 500;
  line-height: 1.2;
  color: #33b3e6;
}

.rubric {
  font-size: calc(1.305rem + 0.66vw);
  margin-top: 2rem;
}
@media (min-width: 1200px) {
  .rubric {
    font-size: 1.8rem;
  }
}

h1, h2, h3, h4, h5, h6, .admonition-title, .rubric {
  page-break-after: avoid;
}

.headerlink {
  padding-left: 0.5em;
  color: #88ddff;
  font-family: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  text-decoration: none;
}
.headerlink:hover {
  color: #61d2ff;
}
h1 > .headerlink {
  display: none;
}

.body > :first-child > h1 {
  text-align: center;
  margin-bottom: 2rem;
}

.body li:not(:last-child), .body dt:not(:last-child), .body dd:not(:last-child), .body th:not(:last-child), .body td:not(:last-child) {
  margin-bottom: 0.5rem;
}
.body ul, .body ol, .body dd {
  padding-left: 2rem;
}
.body dt {
  color: #a02ffd;
}
.body dd > ul:only-child, .body dd > ol:only-child {
  padding-left: 0;
}

blockquote {
  border-top: 1px solid #a02ffd;
  border-bottom: 1px solid #a02ffd;
  padding: 1em 2em;
  color: #a02ffd;
  font-style: italic;
}
blockquote .attribution {
  text-align: right;
  font-style: normal;
}

.footnote:not(:last-child) {
  margin-bottom: 0.5rem;
}

.footnote > .label {
  float: left;
  padding-right: 0.5em;
  font-weight: bold;
}

dl.field-list > dt.field-odd, dl.field-list > dt.field-even {
  color: #601c98;
}

.admonition {
  position: relative;
  padding: 1rem 1rem;
  border: 1px solid transparent;
  border-radius: 0.25rem;
}

.admonition-title {
  font-size: 1.125rem;
}

.admonition h1, .admonition h2, .admonition h3, .admonition h4, .admonition h5, .admonition h6, .admonition .rubric, .admonition .admonition-title {
  color: inherit;
}

.danger {
  color: #993737;
  background-color: #ffdede;
  border-color: #ffcece;
}
.danger .alert-link {
  color: #7a2c2c;
}

.warning {
  color: #664d00;
  background-color: #fff2cc;
  border-color: #ffecb3;
}
.warning .alert-link {
  color: #523e00;
}

.attention {
  color: #664d00;
  background-color: #fff2cc;
  border-color: #ffecb3;
}
.attention .alert-link {
  color: #523e00;
}

.caution {
  color: #664d00;
  background-color: #fff2cc;
  border-color: #ffecb3;
}
.caution .alert-link {
  color: #523e00;
}

.note {
  color: #601c98;
  background-color: #ecd5ff;
  border-color: #e3c1fe;
}
.note .alert-link {
  color: #4d167a;
}

.tip {
  color: #0b6a2f;
  background-color: #d0efdc;
  border-color: #b8e8ca;
}
.tip .alert-link {
  color: #095526;
}

.hint {
  color: #0b6a2f;
  background-color: #d0efdc;
  border-color: #b8e8ca;
}
.hint .alert-link {
  color: #095526;
}

.important {
  color: #664d00;
  background-color: #fff2cc;
  border-color: #ffecb3;
}
.important .alert-link {
  color: #523e00;
}

img {
  max-width: 100%;
  height: auto !important;
}

figure {
  display: inline-block;
  width: 100%;
  text-align: center;
}
figure.align-left {
  text-align: left;
}
figure.align-left img {
  margin-left: 0;
}
figure.align-right {
  text-align: right;
}
figure.align-right img {
  margin-right: 0;
}

.body img, .body .legend img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  line-height: 1;
}
.body img.align-left, .body .legend img.align-left {
  margin-left: 0;
}
.body img.align-right, .body .legend img.align-right {
  margin-right: 0;
}

figcaption {
  font-size: 0.875em;
  color: #888888;
  margin-top: 0.5rem;
}

.legend {
  text-align: left;
}

.toctree-wrapper > .caption {
  font-weight: bold;
  margin-bottom: 0.5rem;
}
.toctree-wrapper > ul {
  border-left: 1px solid #88ddff;
}
.toctree-wrapper > ul, .toctree-wrapper li:not(:last-child) {
  margin-bottom: 0;
}
.toctree-wrapper li {
  list-style-type: square;
}
.toctree-wrapper li::marker {
  color: #39c7ff;
}
.toctree-wrapper .toctree-l1::marker {
  color: #39c7ff;
}
.toctree-wrapper .toctree-l2::marker {
  color: #a02ffd;
}
.toctree-wrapper .toctree-l3::marker {
  color: #ff86f9;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

#navbar {
  background-color: #fff;
}

#main-container {
  margin-top: 3.35rem;
}

.docs-container {
  width: 100%;
  padding-right: var(--bs-gutter-x, 0.75rem);
  padding-left: var(--bs-gutter-x, 0.75rem);
  margin-right: auto;
  margin-left: auto;
  max-width: 1120px;
}

#sidebar-container {
  width: 300px;
}

#sidebar-offcanvas {
  visibility: visible;
}

.sidebar > .logo {
  margin-bottom: 1.25rem;
  max-width: 100%;
}

.sidebar-block:not(:last-child) {
  margin-bottom: 1.25rem;
}
.sidebar-block ul,
.sidebar-block ol {
  margin-bottom: 0;
}

#page-footer {
  margin-top: auto;
  background-color: #d7f4ff;
}

mjx-container {
  font-size: 115% !important;
}

@media print {
  #sidebar-container,
.offcanvas-backdrop,
#sidebar-offcanvas,
#navbar,
#page-footer,
#document > :not(.body) {
    display: none !important;
  }

  #main-container {
    margin: 0;
    padding: 0;
    width: 100%;
    max-width: none;
  }
  #main-container > .row {
    padding-top: 0;
  }

  body {
    font-size: 8.5pt;
    display: block;
  }

  img, figure, blockquote {
    page-break-inside: avoid;
  }

  h1, h2, h3, h4, h5, h6, .rubric {
    page-break-after: avoid;
  }
}
@page {
  margin: 2cm 2.5cm;
  @top-left {
    content: var(--sphinx-author);
    font-family: "Short Stack Ext", "Short Stack", system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: 8.5pt;
    color: #33b3e6;
    width: 50%;
    margin-bottom: 0.2cm;
    padding-bottom: 0.2cm;
    border-bottom: 1px solid #39c7ff;
    vertical-align: bottom;
  }
  @top-right {
    content: var(--sphinx-project);
    font-family: "Short Stack Ext", "Short Stack", system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: 8.5pt;
    color: #33b3e6;
    width: 50%;
    margin-bottom: 0.2cm;
    padding-bottom: 0.2cm;
    border-bottom: 1px solid #39c7ff;
    vertical-align: bottom;
  }
  @bottom-center {
    content: counter(page);
    font-family: "Short Stack Ext", "Short Stack", system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: 8.5pt;
    color: #33b3e6;
    width: 100%;
    margin-top: 0.2cm;
    padding-top: 0.2cm;
    border-top: 1px solid #39c7ff;
    vertical-align: top;
  }
}
ul.plus > li::marker {
  color: #12b14f;
  content: "+ ";
  font-family: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}

ul.minus > li::marker {
  color: #ff5b5b;
  content: "- ";
  font-family: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}

ul.question > li::marker {
  color: #a02ffd;
  content: "? ";
  font-family: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}
