@use "sass:list";
@use "sass:math";
@use "theme";
@use "utils";

::-moz-selection {
  background-color: theme.$selection-color;
  color: inherit;
}
::selection {
  background-color: theme.$selection-color;
  color: inherit;
}

// INLINE STYLING
// =============================================================================

b, strong {
  font-weight: theme.$font-weight-bold;
}

pre, code, kbd, samp {
  font-family: theme.$font-family-mono;
  font-weight: bold;
  font-size: theme.$font-size-mono;
}

code, kbd, samp {
  color: theme.$code-text-color;
}

.docutils.literal {
  padding: 0.25rem;
  background-color: theme.$code-background-color;
}

sup, sub {
  line-height: 0;
  font-size: 80%;
}

small {
  font-size: 80%;
}



// HEADINGS
// =============================================================================

h1, h2, h3, h4, h5, h6, .rubric {
  font-family: theme.$font-family-headings;
  font-weight: theme.$font-weight-headings;
  page-break-after: avoid;
}

@for $i from 1 through 6 {
  h#{$i} {
    font-size: list.nth(theme.$font-sizes-headings, $i);
  }
}

.rubric {
  font-size: list.nth(theme.$font-sizes-headings, 1);
}



// BREADCRUMB
// =============================================================================

.bc-item {
  display: inline;
}



// INLINE STYLING
// =============================================================================

a {
  background-color: transparent;
  text-decoration: none;
  &:link {
    color: theme.$link-color;
  }
  &:visited {
    color: theme.$visited-color;
  }
  &:hover {
    text-decoration: underline;
  }

  > code, > kbd, > samp {
    color: inherit;
  }
}

a.headerlink {
  font-family: theme.$font-family-mono;
  padding-left: 0.5em;
  &:link, &:visited {
    color: theme.$primary-color-lighter;
  }
  &:hover {
    text-decoration: none;
    color: theme.$primary-color;
  }
}


// RELATED LINKS
// =============================================================================

.related {
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
  font-size: 90%;

  > li {
    margin-right: 4px;
    margin-bottom: 4px;

    > a {
      min-height: 28px;
      padding: 0 0.5rem;
    }
  }
}


// CONTENT
// =============================================================================

%document-content {
  > :not(:first-child) {
    margin-top: theme.$content-margin;
  }

  > %document-content:not(:first-child) {
    margin-top: theme.$section-margin;
  }
}

%document-subcontent {
  > :not(:first-child) {
    margin-top: theme.$subcontent-margin;
  }
}

%document-content, %document-subcontent {

  // Paragraphs
  // -------------------
  
  > p {
    text-align: justify;
  }

  // Images and media
  // ----------------

  > img, video, audio, embed, object, canvas, svg, iframe {
    display: block;
    max-width: 100%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
  }

  img, video, audio, embed, object, canvas, svg, iframe {
    text-decoration: none;
  }

  // <hr>
  hr {
    border: none;
    border-top: theme.$base-border-width solid theme.$primary-color;
  }

}

.body, section, .section {
  @extend %document-content;
  margin-bottom: theme.$section-margin;
}

.body {

  // Code blocks
  // -------------------

  pre {
    padding: theme.$code-block-padding;
  }


  // <ul> and <ol> Lists
  // -------------------

  ul {
    @extend %bullet-list;
  }
  ol {
    @extend %number-list;

    ol.arabic {
      list-style-type: decimal;
    }
    ol.upperalpha {
      list-style-type: upper-alpha;
    }
    ol.loweralpha {
      list-style-type: lower-alpha;
    }
  }
  li {
    @extend %document-subcontent;
  }

  ul.pros li::marker {
    content: "+ ";
    color: theme.$success-color;
    font-size: 120%;
  }

  ul.cons li::marker {
    content: "- ";
    color: theme.$danger-color;
    font-size: 120%;
  }


  // <dl> lists
  // ----------

  dl {
    dt:not(:first-child), dd {
      margin-top: theme.$subcontent-margin;
    }
  }

  dt {
    font-weight: theme.$font-weight-bold;
    color: theme.$definition-color;
  }
  dd {
    @extend %document-subcontent;
    padding-left: 2rem;
  }


  // Quotes
  // -------------------

  blockquote {
    
    padding: theme.$blockquote-padding;
    border-top: theme.$base-border-width solid theme.$definition-color;
    border-bottom: theme.$base-border-width solid theme.$definition-color;
    margin: 0 theme.$blockquote-horizontal-margin;
    font-style: italic;
    color: theme.$definition-color;

    > div > p {
      @extend %document-subcontent;
      text-align: center;
    }

    .attribution {
      text-align: right;
    }

  }


  // Tables
  // ------

  table.docutils {

    width: 100%;

    > thead {
      border-bottom: theme.$base-border-width solid theme.$primary-color-lighter;
    }

    > tfoot {
      border-top: theme.$base-border-width solid theme.$primary-color-lighter;
    }

    > tbody > tr, > tr {
      border-top: math.div(theme.$base-border-width, 2) solid theme.$primary-color-lighter;
      border-bottom: math.div(theme.$base-border-width, 2) solid theme.$primary-color-lighter;
    }

    td, th {
      @extend %document-subcontent;
      padding: theme.$table-cell-padding;
    }
    th {
      font-weight: theme.$font-weight-bold;
    }

  }

}

// Figures
// ----------------

.figure {
  @extend %document-subcontent;
  padding: 1rem;
  border-top: math.div(theme.$base-border-width, 2) solid theme.$primary-color-lighter;
  border-bottom: math.div(theme.$base-border-width, 2) solid theme.$primary-color-lighter;
  text-align: center;

  > .image-reference, > .image-reference img {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  > p {
    text-align: center;
  }
}

// Captions
// ----------------

.caption {
  font-weight: theme.$font-weight-bold;
}

// Math
// ----

.math {
  font-size: 150%;
  line-height: 66.6667%;
}


// ADMONITIONS
// =============================================================================

.admonition {
  @extend %document-subcontent;
  padding: 1rem;
  border-left: theme.$base-border-width solid theme.$primary-color;
  background-color: theme.$note-color;
}

.admonition-title {
  font-family: theme.$font-family-headings;
  font-size: 120%;
  break-after: avoid;
}

.attention, .warning, .important, .caution {
  border-left-color: theme.$warning-color;
  background-color: theme.$warning-bg-color;
}

.danger {
  border-left-color: theme.$danger-color;
  background-color: theme.$danger-bg-color;
}

.tip, .hint {
  border-left-color: theme.$success-color;
  background-color: theme.$success-bg-color;
}



// CITATIONS & FOOTNOTES
// =============================================================================

span.brackets, a.brackets {
  &::before {
    content: "[";
  }
  &::after {
    content: "]";
  }
}

dl.footnote {
  position: relative;
  > dt {
    position: absolute;
    width: 3rem;
    padding-right: 0.5rem;
    text-align: right;
  }
  > dd {
    padding-left: 3rem;
  }
}