@use "theme";
@use "utils";

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: theme.$navbar-height;
  border-bottom: theme.$base-border-width solid theme.$primary-color;
  background-color: theme.$background-color;

  z-index: theme.$navbar-zindex;
  @include utils.unselectable();

  > .container {
    height: 100%;
    display: flex;
    align-items: center;
  }
}

.navbar > .container {

  > button, > a {
    height: 100%;
    background-color: transparent;
    &:hover {
      background-color: theme.$navbar-hover-color;
    }
  }

  > .navbar-title {
    padding: 0 theme.$button-padding;
    font-size: 135%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  > .search {
    height: 100%;
    margin-left: auto;
    padding: theme.$searchbox-padding;
  }

}

.search {
  display: flex;
  width: 300px;

  > input[type="text"] {
    width: 100%;
  }
  > input[type="submit"] {
    margin-left: theme.$searchbox-padding;
  }
}