@import "../bootstrap/scss/functions";
@import "../bootstrap/scss/variables";
@import "../bootstrap/scss/mixins";


$container-elements:
  li, dd, th, td,
  blockquote,
  unquote("figcaption > .legend"),
  unquote("blockquote > div"),
  unquote(".admonition"),
  unquote(".footnote");

$section-margin-top: 2em;
$paragraph-margin: 1rem;
$sub-paragraph-margin: 0.5rem;


// Sections
// =============================================================================

.body section {

  // Add margin before each section
  margin-top: $section-margin-top;

  // Add margin between direct children in each section
  > :not(:last-child) {
    margin-bottom: $paragraph-margin;
  }
  > :last-child {
    margin-bottom: 0;
  }

}

// Do not add margin before the first section
.body > section {
  margin-top: 0;
}

// For each element that may contain block elements,
// set margins between children
@each $container in $container-elements {
  .body #{$container} {
    > :not(:last-child) {
      margin-bottom: $sub-paragraph-margin;
    }
    > :last-child {
      margin-bottom: 0;
    }
  }
}


// Tables
// =============================================================================

.body table.docutils {
  // @extend .table
  display: table;
  width: 100%;
  vertical-align: $table-cell-vertical-align;
  border-color: $table-border-color;
  > :not(caption) > * > * {
    padding: $table-cell-padding-y $table-cell-padding-x;
    background-color: var(--#{$variable-prefix}table-bg);
    border-bottom-width: $table-border-width;
    box-shadow: inset 0 0 0 9999px var(--#{$variable-prefix}table-accent-bg);
  }
  > tbody {
    vertical-align: inherit;
  }
  > thead {
    vertical-align: bottom;
  }
  > :not(:first-child) {
    border-top: (2 * $table-border-width) solid $table-group-separator-color;
  }
}


// Headers
// =============================================================================

$headerlink-padding: 0.5em;

h1, h2, h3, h4, h5, h6 {
  @extend %html-heading;
}

%extra-heading {
  font-family: $headings-font-family;
  font-style: $headings-font-style;
  font-weight: $headings-font-weight;
  line-height: $headings-line-height;
  color: $headings-color;
}

.rubric {
  @extend %extra-heading;
  @include font-size($h2-font-size);
  margin-top: 2 * $paragraph-margin;
}

%html-heading, %extra-heading {
  page-break-after: avoid;
}

.headerlink {
  padding-left: $headerlink-padding;
  color: $headerlink-color;
  font-family: $font-family-monospace;
  text-decoration: none;
  &:hover {
    color: $headerlink-hover-color;
  }
  h1 > & {
    display: none;
  }
}

.body > :first-child > h1 {
  text-align: center;
  margin-bottom: 2 * $paragraph-margin;
}

// Lists
// =============================================================================

$list-indent: 2rem;

.body {

  // Spacing between list items
  li, dt, dd, th, td {
    &:not(:last-child) {
      margin-bottom: $sub-paragraph-margin;
    }
  }

  // Indentation
  ul, ol, dd {
    padding-left: $list-indent;
  }

  dt {
    color: $quote-color;
  }
  dd > ul:only-child, dd > ol:only-child {
    padding-left: 0;
  }

}


// Blockquotes
// =============================================================================

blockquote {
  border-top: $border-width solid $quote-color;
  border-bottom: $border-width solid $quote-color;
  padding: 1em 2em;
  color: $quote-color;
  font-style: italic;
  .attribution {
    text-align: right;
    font-style: normal;
  }
}


// Footnotes
// =============================================================================

// Spacing between footnotes
.footnote:not(:last-child) {
  margin-bottom: $sub-paragraph-margin;
}

// Make labels float
.footnote > .label {
  float: left;
  padding-right: 0.5em;
  font-weight: bold;
}


// Field lists
// =============================================================================
dl.field-list {
  > dt.field-odd, > dt.field-even {
    color: $quote-color-700;
  }
}


// Admonitions
// =============================================================================

$admonition-types: (
  "danger": "danger",
  "warning": "warning",
  "attention": "warning",
  "caution": "warning",
  "note": "info",
  "tip": "success",
  "hint": "success",
  "important": "warning",
);

.admonition {
  position: relative;
  padding: $alert-padding-y $alert-padding-x;
  border: $alert-border-width solid transparent;
  @include border-radius($alert-border-radius);
}

.admonition-title {
  @extend %extra-heading;
  @include font-size($h5-font-size);
}

.admonition %html-heading, .admonition %extra-heading {
  color: inherit;
}

@each $type, $state in $admonition-types {
  $value: map-get($theme-colors, $state);
  $alert-background: shift-color($value, $alert-bg-scale);
  $alert-border: shift-color($value, $alert-border-scale);
  $alert-color: shift-color($value, $alert-color-scale);
  @if (contrast-ratio($alert-background, $alert-color) < $min-contrast-ratio) {
    $alert-color: mix($value, color-contrast($alert-background), abs($alert-color-scale));
  }
  .#{$type} {
    @include alert-variant($alert-background, $alert-border, $alert-color);
  }
}


// Images and figures
// =============================================================================

img {
  max-width: 100%;
  height: auto !important;
}

figure {
  display: inline-block;
  width: 100%;
  text-align: center;
  &.align-left {
    text-align: left;
    img {
      margin-left: 0;
    }
  }
  &.align-right {
    text-align: right;
    img {
      margin-right: 0;
    }
  }
}

.body {
  img, .legend img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    line-height: 1;
    &.align-left {
      margin-left: 0;
    }
    &.align-right {
      margin-right: 0;
    }
  }
}


figcaption {
  @include font-size($figure-caption-font-size);
  color: $figure-caption-color;
  margin-top: $sub-paragraph-margin;
}
.legend {
  text-align: left;
}


// TOC trees
// =============================================================================

.toctree-wrapper {
  
  > .caption {
    font-weight: bold;
    margin-bottom: $sub-paragraph-margin;
  }

  > ul {
    border-left: $border-width solid $border-color
  }
  > ul, li:not(:last-child) {
    margin-bottom: 0;
  }

  li {
    list-style-type: square;
  }
  li::marker {
    color: $toctree-l1-bullet-color
  }

  .toctree-l1::marker {
    color: $toctree-l1-bullet-color
  }
  .toctree-l2::marker {
    color: $toctree-l2-bullet-color
  }
  .toctree-l3::marker {
    color: $toctree-l3-bullet-color
  }

}