$font-family-sans-serif: "Short Stack Ext", "Short Stack", "Segoe UI", sans-serif;
$headings-font-family: "Modern Love", $font-family-sans-serif;
$font-size-headings: 200%, 160%, 140%, 120%, 110%, 105%;
