@import "../bootstrap/scss/functions";
@import "../bootstrap/scss/variables";
@import "../bootstrap/scss/mixins";


ul.plus > li::marker{
  color: $success;
  content: "+ ";
  font-family: $font-family-monospace;
}

ul.minus > li::marker{
  color: $danger;
  content: "- ";
  font-family: $font-family-monospace;
}

ul.question > li::marker{
  color: $quote-color;
  content: "? ";
  font-family: $font-family-monospace;
}