@use "bootstrap/variables.scss" as v;
@import "../../bootstrap/scss/functions";
@import "../../bootstrap/scss/variables";
@import "../../bootstrap/scss/mixins";

$container-elements:
  li, dd, th, td,
  blockquote,
  figcaption,
  unquote("figcaption > .legend"),
  unquote("blockquote > div"),
  unquote(".admonition"),
  unquote(".footnote");

$section-margin-top: 2em;
$paragraph-margin: 1rem;
$sub-paragraph-margin: 0.5rem;

$quote-color: v.$purple;
$quote-color-700: shade-color(v.$purple, 40%);

.body {
  section {
    margin-top: $section-margin-top;
  }
  > section {
    margin-top: 0;
  }
}

.body section {
  > :not(:last-child) {
    display: block;
    margin-bottom: $paragraph-margin;
  }
  > :last-child {
    display: block;
    margin-bottom: 0;
  }
}

@each $container in $container-elements {
  .body #{$container} {
    > :not(:last-child) {
      display: block;
      margin-bottom: $sub-paragraph-margin;
    }
    > :last-child {
      display: block;
      margin-bottom: 0;
    }
  }
}


// Tables
// =============================================================================

.body table.docutils {
  // @extend .table
  display: table;
  width: 100%;
  margin-bottom: $spacer;
  vertical-align: $table-cell-vertical-align;
  border-color: v.$table-border-color;
  > :not(caption) > * > * {
    padding: $table-cell-padding-y $table-cell-padding-x;
    background-color: var(--#{$variable-prefix}table-bg);
    border-bottom-width: $table-border-width;
    box-shadow: inset 0 0 0 9999px var(--#{$variable-prefix}table-accent-bg);
  }
  > tbody {
    vertical-align: inherit;
  }
  > thead {
    vertical-align: bottom;
  }
  > :not(:first-child) {
    border-top: (2 * $table-border-width) solid v.$table-group-separator-color;
  }
}


// Headers
// =============================================================================

$heading-color: shade-color(v.$primary, 10%);
$headerlink-padding: 0.5em;

%html-heading {
  color: $heading-color;
}

h1, h2, h3, h4, h5, h6 {
  @extend %html-heading;
}

%extra-heading {
  font-family: $headings-font-family;
  font-style: $headings-font-style;
  font-weight: $headings-font-weight;
  line-height: $headings-line-height;
  color: $heading-color;
}

.body h1 {
  text-align: center;
  margin-bottom: 2 * $paragraph-margin;
}

.rubric {
  @extend %extra-heading;
  margin-top: 2 * $paragraph-margin;
  @include font-size($h2-font-size);
}

.admonition-title {
  @extend %extra-heading;
  @include font-size($h5-font-size);
}

.headerlink {
  padding-left: $headerlink-padding;
  color: v.$primary-300;
  font-family: $font-family-monospace;
  text-decoration: none;
  &:hover {
    color: v.$primary-400;
  }
  h1 > & {
    display: none;
  }
}

// Lists
// =============================================================================

$list-indent: 2rem;

.body {
  li, dt, dd, th, td {
    margin-bottom: $sub-paragraph-margin;
    &:last-child {
      margin-bottom: 0;
    }
  }
  ul, ol, dd {
    padding-left: $list-indent;
  }
  dt {
    color: $quote-color;
  }
  dd > ul:only-child, dd > ol:only-child {
    padding-left: 0;
  }
}


// Blockquotes
// =============================================================================

blockquote {
  border-top: $border-width solid $quote-color;
  border-bottom: $border-width solid $quote-color;
  padding: 1em 2em;
  color: $quote-color;
  font-style: italic;
  .attribution {
    text-align: right;
    font-style: normal;
  }
}


// Footnotes
// =============================================================================

.footnote:not(:last-child) {
  margin-bottom: $sub-paragraph-margin;
}

.footnote > .label {
  float: left;
  padding-right: 0.5em;
  font-weight: bold;
}


// Field lists
// =============================================================================
dl.field-list {
  > dt.field-odd, > dt.field-even {
    color: $quote-color-700;
  }
}

// Admonitions
// =============================================================================

$admonition-types: (
  "danger": "danger",
  "warning": "warning",
  "attention": "warning",
  "caution": "warning",
  "note": "info",
  "tip": "success",
  "hint": "success",
  "important": "warning",
);

.admonition {
  position: relative;
  padding: $alert-padding-y $alert-padding-x;
  margin-bottom: $alert-margin-bottom;
  border: $alert-border-width solid transparent;
  @include border-radius($alert-border-radius);
}

.admonition-title, .admonition %html-heading {
  font-family: v.$headings-font-family;
  color: inherit;
}

@each $type, $state in $admonition-types {
  $value: map-get($theme-colors, $state);
  $alert-background: shift-color($value, v.$alert-bg-scale);
  $alert-border: shift-color($value, v.$alert-border-scale);
  $alert-color: shift-color($value, v.$alert-color-scale);
  @if (contrast-ratio($alert-background, $alert-color) < $min-contrast-ratio) {
    $alert-color: mix($value, color-contrast($alert-background), abs($alert-color-scale));
  }
  .#{$type} {
    @include alert-variant($alert-background, $alert-border, $alert-color);
  }
}


// Figures
// =============================================================================

figure {
  // Ensures the caption's text aligns with the image.
  display: inline-block;

  img {
    margin-bottom: $spacer * .5;
    line-height: 1;
  }
}

figcaption {
  @include font-size($figure-caption-font-size);
  color: $figure-caption-color;
}


// TOC trees
// =============================================================================

.toctree-wrapper {
  > .caption {
    font-weight: bold;
    margin-bottom: $sub-paragraph-margin;
  }
  > ul {
    margin-bottom: 0;
  }
}


// Math
// =============================================================================

mjx-container {
  font-size: 115% !important;
}