@use "bootstrap/variables.scss" as v;
@import "../../bootstrap/scss/functions";
@import "../../bootstrap/scss/variables";
@import "../../bootstrap/scss/mixins";

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

#navbar {
  background-color: v.$body-bg;
}

#main-container {
  margin-top: $navbar-brand-height
    + 2 * ($navbar-brand-padding-y + $navbar-padding-y);
}

.docs-container {
  @include make-container();
  max-width: 1120px;
}


// Sidebar
// =============================================================================

$sidebar-spacing: 1.25rem;

#sidebar-container {
  width: 300px;
}

#sidebar-offcanvas {
  visibility: visible;
}

.sidebar > .logo {
  margin-bottom: $sidebar-spacing;
}

.sidebar-block {

  &:not(:last-child) {
    margin-bottom: $sidebar-spacing;
  }

  ul,
  ol {
    margin-bottom: 0;
  }

}


// Footer
// =============================================================================

#page-footer {
  margin-top: auto;
  background-color: v.$primary-100;
}